<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://prmeng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2021/06/30/node_208046/38570641/public/2021/06/30/B9727545285Z.1_20210630115921_000%2BGP0IEKUQN.2-0.jpeg.jpg?itok=IcTfWW6i1625048413);">
  <div class="container position-relative">
    <h1 class="">List of <strong>movies</strong></h1>
    <%= link_to "New category", new_list_path, class: 'btn btn-success position-absolute', style: "right: 0px; top: -120px" %>
  </div>
</div>


<div class="container mt-3 mb-5">
  <div class="cards">
    <% @lists.each do |list|%>
      <%= link_to list_path(list.id), :class => 'link-decoration' do %>

        <% if list.photo.attached? %>
          <% url = cl_image_path list.photo.key %>
        <% else %>
          <% url = 'https://ctrlr.org/wp-content/uploads/2021/11/fall-movies-index-1628968089.jpg' %>
        <% end %>
        <div class='card-category' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
